<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>空き家でGo</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
  <div class="container text-center">

    <h1>投稿する</h1>
    <a href='/top/'>Top</a>
    <a href='/'>空き家一覧</a>
    <form method="post" action="CGIのURI">
        <p>
        タイトル：<input type="text" name="タイトル" /><br>
        種類：
        <input type="radio" name="種類" value="空き家" checked="checked" /> 空き家　
        <input type="radio" name="種類" value="空き地" /> 空き地 <br>
        都道府県：
        <select name="都道府県">
          <option>北海道</option>
          <option>東京</option>
          <option>大阪</option>
          <option>沖縄</option>
        </select><br>
        <textarea name="freeans" rows="4" cols="40">自由に意見を記述してください</textarea><br>
        <input type="submit" value="送信" />　
        <input type="reset" value="取り消し" />
        </p>
       </form>
  </div>
</body>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</html>