{{define "content"}}
<h1>投稿を修正する</h1>
<a href='/top'>空き家一覧</a><br>
<hr>


<form role="form" action="/post/update/{{.ID}}" form method="post">
  <div class="form-group col-lg-6 mx-auto">
    <p>
    <div class="pad">画像：<img src="data:image/jpg;base64,{{.ImagePath }}" /></div>
    <div class="pad"> タイトル：<textarea class="form-control" name="title" rows="1" cols="20">{{.Title}}</textarea></div>
    <div class="pad">種類：{{.Type}}</div>
    <div class="pad"> 都道府県：{{.Prefecture}}</div>
    <textarea class="form-control pad" name="description" rows="4" cols="40">{{.Description}}</textarea><br>
    <button class="btn btn-lg btn-primary pull-right" type="submit">更新</button>
    </p>
  </div>
</form>
{{end}}
