{{define "content"}}
<h1>SampleArticle</h1>
    <header>ヘッダー</header>
    <section>「メインビジュアル」が入るセクション</section>
    <nav>グローバルナビ</nav>
    <main>
        <section>
            <article>新着記事1</article>
            <article>新着記事2</article>
            <article>新着記事3</article>
        </section>
    </main>
    <aside>
        <div>「SNSシェア」が入るエリア（※）</div>
        <section>
            <article>Ranking1位の記事</article>
            <article>Ranking2位の記事</article>
            <article>Ranking3位の記事</article>
        </section>
        <section>
            <article>新着記事1</article>
            <article>新着記事2</article>
            <article>新着記事3</article>
        </section>
    </aside>
    <section>「カテゴリ一覧」が入るセクション</section>
    <section>「お問い合わせ」が入るセクション</section>
    <footer>フッター</footer>
{{end}}