body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  background-image: url('/static/assets/background-img.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.btn-outline-light {
  opacity: 0.85;
  border-radius: 4px;
  text-align: center;
}

.display-4 {
  font-family: 'Dela Gothic One', cursive;
  color: rgba(58, 17, 17, 0.8);
}

.discription {
  color: rgb(255 255 255 / 87%);
  font-weight: 500;
  background-color: rgb(97 28 1 / 48%);
  border-radius: 25px;
  margin-top: 10px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 230px;
}

.btn {
  margin-top: 20px;
}
