body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  background-image: url('/static/assets/background-img.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.btn-outline-light {
  opacity: 0.7;
  border-radius: 4px;
  text-align: center;
}

h1 {
  font-family: 'Caveat', cursive;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 200px;
}

.btn {
  margin-top: 15px;
}
