body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  background-color: rgba(210, 210, 210, 0.6);
  margin-bottom: 5%;
}
.container {
  padding-top: 60px;
}
.card {
  background-color: rgba(222, 214, 215, 0);
}
.row {
  background-color: rgb(238, 238, 238);
  margin-top: -40px;
}

.list-group {
  padding: 2% 5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff0;
}
.text-left {
  margin: 2% 10%;
}
.properties td,
.properties th {
  border: 0;
  border-top: 1.5px solid #00458b;
  white-space: pre-wrap;
}

.properties th {
  min-width: 110px;
}

.signup-in {
  padding: 2% 20%;
}

.navbar-brand {
  font-family: 'Dela Gothic One', cursive;
}
tbody {
  margin: 2% 10%;
  border: 1.5px solid #00458b;
  border-left-width: 6px;
}

.pad {
  margin-top: 10px;
}
.pad2 {
  margin-top: 20px;
}
.pad3 {
  margin-top: 30px;
}
